<header class="jumbotron subhead">
    <div class="container">
        <h1>Simulation Instructions</h1>

        <p class="lead">Where we will learn how to play the game</p>

    </div>
</header>
<div class="instructions container">
<div class="row">
    <div class="span6 offset3">

        <div class="page-header" id="firstStep">
            <h1>Intro</h1>
        </div>
        <p>By now you might be wondering what the simulation is all about. This is an experiment
            that will simulate a work task between two teammates. You are going to take the role of
            an automotive engineer working for Mercedes-Benz. As you might know, car companies use
            Formula 1 racing to improve their reputation and experiment with new technologies that
            eventually make their way into consumer vehicles.</p>

        <h4>An Engineer's Job</h4>

        <p>Engineers frequently work on more than one project at the same time. They have competing
            demands on their time, just like you as a student have demands on your time. You can
            study for an exam, take time to participate in an experiment, or take a break and watch
            TV. But doing one activity usually means you can't do another. Engineers make these
            types of decisions everyday. If an engineer has three projects they are working on, they
            must choose how much time to spend on each, and working on one means they can't work on
            another. </p>

        <h4>Your Job</h4>

        <p>Your managers have simplified your work life compared to other engineers. You have 26
            work days in a month and you are responsible for one project:</p>
        <ul>
            <li>A Formula 1 Mercedes-ESB car (team project)</li>
        </ul>
        <br>

        <h3>F1 Team Project</h3>

        <p> Your managers want to win these upcoming races. In fact, they want to win so badly that
            they will give bonuses to their engineers if they place at the top of the standings this
            season. They have paired you with a teammate to help accomplish this goal. Together, you
            and your teammate will work on the company's F1 Car.</p>

        <p> You are the Second Engineer on the project. This means that you will work on the car
            second. Once you're partner (the First Engineer) is finished with their parts, they will
            send the car to you. You will take the car and complete the work on it. Then you will
            enter the car into that month's race. Each race is a complex simulation involving the
            quality of the car's components, the track dynamics (weather conditions and age), and
            the experience of your driver. You have control over the quality of the car's
            components.</p>

        <!--<p>This video gives an idea of the speed involved:</p>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/IpJshzMrpD4" frameborder="0" allowfullscreen></iframe>
        <div class="big-spacing-top">
            <p> You are in charge of three components, and each component affects the car's
                performance. Each component can be upgraded to a higher level of performance.</p>
        </div>-->
    </div>
</div>
<div class="row">
    <div class="span3 offset3 center">

        <img src="../images/car/oneIntake.png" alt="">
    </div>
    <div class="span3">
        <h5>Air Intake System</h5>

        <p>The Air Intake System of an F1 car affects every aspect of its performance. But for
            simplicity we will consider the statistic that it will affect most heavily: <b>top
                speed.</b> Each engine upgrade will increase your car's top speed by <b>2 kph</b>,
            as measured on a 1 km straightaway.</p>
    </div>
</div>

<div class="row">
    <div class="span3 offset3 center">

        <img src="../images/car/oneWing.png" alt="" style="padding-top:32px;">
    </div>
    <div class="span3">
        <h5>Wing Aerodynamics</h5>

        <p>Without wings, an F1 car would be pushed off the track by the massive volume of air
            traveling under its body. The Wing components push the car downward and help it grip the
            track. In this respect, and F1 car is less a car than it is a jet on ground. The Wing
            Aerodynamics will most affect: <strong>linear acceleration</strong> (0-100 kph, in
            seconds). Obviously, lower is better. Each upgrade to the Wing Aerodynamics will lower
            your 0-100 kph by <strong>0.2 seconds</strong>.</p>
    </div>
</div>

<div class="row">
    <div class="span3 offset3 center">

        <img src="../images/car/oneSusp.png" alt="">
    </div>
    <div class="span3">
        <h5>Suspension System</h5>

        <p>They weren't built for comfort, they were built for speed... But suspension systems do
            greatly affect a car's ability to maintain high speeds through corners without losing
            traction. This is called <strong>lateral acceleration</strong> -- and is measured by the
            car's its maximum speed through a 90<sup>o</sup> corner. Each upgrade will increase your
            car's lateral top speed by <strong>2 km</strong>.</p>
    </div>
</div>
<div class="row">
    <div class="span6 offset3 spacing-top">

        <div class="page-header">
            <h3>Your Task</h3>
        </div>
        <p>You have 26 days to work each month. You will receive the team's car that your teammate
            (the First Engineer) has worked on. The car will have certain statistics based on how
            much your teammate worked on it. You will take the car and attempt to bring the
            statistics up to meet your manager's expectations. Your managers are experienced in F1
            and they have set goals for you. If you reach those goals, you can be confident that
            your team's car will have a chance to win the next race. If you miss the goals, however,
            chances are not as good.</p>

        <p>You will then run that month's race, see the results, and view the damage your car
            received. Altogether there are eight races in total, starting with the Australian Grand
            Prix and ending with the Singapore Grand Prix.</p>

        <h4>The $20 competition</h4>

        <p>In order to simulate the importance your managers place on winning the upcoming races,
            and the bonus they will offer, we will offer <strong>$20</strong> to the participant
            whose team <strong>places highest in the standings after 8 races</strong>. This means
            that if Team A has 90 points, and Team B has 89 points, Team A will receive $20 as a
            reward for performance. There will be two First Engineers and two Second Engineers who
            will receive this reward in each experiment session.</p>

        <p><strong>Please note:</strong></p> You are <b>not</b> in competition with your partner (a
        First Engineer) for the $20 bonus. You are only in competition with other Second Engineers.
        Your partner is a First Engineer and they have their own bonus, and are only in competition
        with other First Engineers. It is very possible for one team member to get the bonus and the
        other to not get the bonus.</p>
        <div class="page-header">
            <h3>How to play</h3>
        </div>
        <p>The simulation will present you with a number of options. You will first see a top row
            that will allow you to switch between viewing your teammate's progress and viewing the
            current team standings.</p>
        <img class="img-rounded" src="../images/topNavBarB.png" alt="">

        <div class="big-spacing-top"><p>When you begin work on your own components, you will see a
            row of glyphs. These represent the three components of the car you will work on. From
            left to right: Air Intake System, Wing Aerodynamics, Suspension System. If you still
            have mandatory work to complete on that component, there will be a red tooltip
            underneath it.</p>
            <img class="img-rounded" src="../images/partSelectorB.png" alt=""></div>

        <div class="row big-spacing-top">
            <div class="span2"><img class="img-rounded" src="../images/workButton.png" alt=""></div>
            <div class="span3"><p>You will then see the button that will allow you to work on that
                part.</p></div>
        </div>

        <br>

        <p>And you will see a set of information feedback boxes that will provide feedback on that
            part.</p>
        <img class="img-rounded" src="../images/infoFeedbackB.png" alt="">

        <br> <br>
        <h4>Chat Message System</h4>

        <div class="row">
            <div class="span3">
                <p>On the right of the screen you will see an instant message-style chat window. You
                    can communicate with your teammate (the First Engineer) as much as you like
                    throughout the experiment.</p>
            </div>
            <div class="span2">
                <img class="img-rounded" src="../images/chatMessageWindow.png" alt="">
            </div>
        </div>

        <div class="spacing-top"><p><strong>Please note:</strong> You may chat about anything with
            your teammate, but we ask that you not reveal your identity. If you reveal your
            identity, you will no longer be anonymous, and the experiment assumes that no-one knows
            exactly who they are playing with. Thank you for your cooperation!</p></div>

        <div class="page-header">
            <h1>Control questions</h1>
        </div>
        <p>"Control questions" are a way for the experimenter to demonstrate that the participants
            were paying attention to the instructions. If the participants don't understand the
            instructions, their behavior might be based on a faulty understanding of the rules or
            the situation. This also lets the researchers say to other researchers, "We are pretty
            sure the participants knew the rules of the game, because they answered the control
            questions correctly."</p>

        <p>However, <strong>this is not a test</strong>. You can look back at the instructions if
            you forget some details And if you are having trouble, please feel free to raise your
            hand and ask the experimenter for help.</p>

        <div class="control-group">
            <label class="control-label">Are you in competition with your teammate for the $20
                bonus? </label> <span class="controls" location="inCompetitionQ"></span>
            <span class="controlQWrong" location="inCompetitionQWrong"></span>
        </div>
        <div class="control-group">
            <label class="control-label">How many races will your team enter?</label>
            <span class="controls" location="numRacesQ"></span>
            <span class="controlQWrong" location="numRacesQWrong"></span>
        </div>
        <div class="control-group">
            <label class="control-label">Suppose that Participant X's team reaches 79 points overall
                in the standings, and Participant Y's team reaches 75 points. Who will receive the
                $20 bonus? </label> <span class="controls" location="numProj2WorkDaysQ"></span>
            <span class="controlQWrong" location="numProj2WorkDaysQWrong"></span>
        </div>
        <div class="control-group">
            <label class="control-label">Suppose Team X upgrades one component of their car to level
                5, and Team Y upgrades that same component to a level 6. If nothing else were
                different, who's car would win the race?</label> <span class="controls" location="levelOfCarQ"></span>
            <span class="controlQWrong" location="levelOfCarQWrong"></span>
        </div>

        <div location="submit"></div>
    </div>

</div>
</div>

<div location="tooltipTut"></div>
<div location="gauge"></div>
