<header class="jumbotron subhead">
    <div class="container">
        <h1>Simulation Instructions</h1>

        <p class="lead">Where we will learn how to play the game</p>

    </div>
</header>
<div class="instructions container">
<div class="row">
    <div class="span6 offset3">

        <div class="page-header" id="firstStep">
            <h1>Intro</h1>
        </div>
        <p>By now you might be wondering what the simulation is all about. This is an experiment
            that will simulate a work task between two teammates. You are going to take the role of
            an automotive engineer working for Mercedes-Benz. As you might know, car companies use
            Formula 1 racing to improve their reputation and experiment with new technologies that
            eventually make their way into consumer vehicles.</p>

        <h4>An Engineer's Job</h4>

        <p>Engineers frequently work on more than one project at the same time. They have competing
            demands on their time, just like you as a student have demands on your time. You can
            study for an exam, take time to participate in an experiment, or take a break and watch
            TV. But doing one activity usually means you can't do another. Engineers make these
            types of decisions everyday. If an engineer has three projects they are working on, they
            must choose how much time to spend on each, and working on one means they can't work on
            another. </p>

        <h4>Your Job</h4>

        <p>As an engineer, you have to decide how to spend your limited time. You have 26 work days
            each month, and you are working on two projects:</p>
        <ul>
            <li>A Formula 1 Mercedes-ESB car (team project)</li>
            <li>A 2014 Mercedes Concept Car (personal project)</li>
        </ul>
        <br>

        <h3>F1 Team Project</h3>

        <p>Your managers have allowed you to work with a teammate on parts of the F1 Car project.
            Together, you and your teammate will work on the company's F1 Car.</p>

        <p> You are the First Engineer on the project. This means that you will work on the car
            first. Once you are done you will send the car to the Second Engineer (your teammate)
            who will take the car and complete it. Then you will enter the car into that month's
            race. Each race is a complex simulation involving the quality of the car's components,
            the track dynamics (weather conditions and age), and the experience of your driver. You
            have control over the quality of the car's components.</p>
<!--

        <p>This video gives an idea of the speed involved:</p>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/IpJshzMrpD4" frameborder="0" allowfullscreen></iframe>
        <div class="big-spacing-top">
            <p> You are in charge of three components, and each component affects the car's
                performance. Each component can be upgraded to a higher level of performance, if you
                choose to spend days working on it.</p>
        </div>
-->

    </div>
</div>
<div class="row">
    <div class="span3 offset3 center">

        <img src="../images/car/oneEngine.png" alt="" style="padding-top:32px;">
    </div>
    <div class="span3">
        <h5>Engine</h5>

        <p>The engine of an F1 car affects every aspect of its performance. But for simplicity we
            will consider the statistic that it affects most heavily: <b>top speed.</b> Each engine
            upgrade will increase your car's top speed by <b>2 kph</b>, as measured on a 1 km
            straightaway.</p>
    </div>
</div>

<div class="row">
    <div class="span3 offset3 center">

        <img src="../images/car/oneDrive.png" alt="">
    </div>
    <div class="span3 spacing-top">
        <h5>Powertrain</h5>

        <p>The components of the car that transform the raw power of the engine into actual movement
            are grouped together into the "powertrain". The powertrain most directly affects the
            car's <strong>linear acceleration</strong> (0-100 kph, in seconds). Obviously, lower is
            better. Each upgrade to the powertrain will lower your 0-100 kph by <strong>0.2
                seconds</strong>.</p>
    </div>
</div>

<div class="row">
    <div class="span3 offset3 center">

        <img src="../images/car/oneTire.png" alt="" style="padding-top:26px;">
    </div>
    <div class="span3">
        <h5>Wheel Assembly</h5>

        <p>The tires, bearings, and disc brakes together form the wheel assembly. As you can
            imagine, these components will greatly affect a car's ability to maintain high speeds
            through corners without losing traction. This is called <strong>lateral
                acceleration</strong> -- and it is measured by the car's maximum speed through a
            90<sup>o</sup> corner. Each upgrade will increase your car's lateral top speed by
            <strong>2 km</strong>. </p>

    </div>
</div>
<div class="row">
    <div class="span6 offset3 spacing-top">

        <div class="page-header"><h3>2014 Concept Car Project</h3></div>
        <img src="../images/working/concept-car.png" alt="" width="560px;">

        <p>Your managers have made it clear that this is what they value. The 2014 concept car will
            be debuted at next year's Detroit Car Show, and if the car does well they will receive
            large bonuses.</p>

        <p>They have told you that the more days you spend working on the concept car project, the
            more they will reward you. They have also said that they do not care how well the
            company's F1 car does in its races.</p>

        <div class="page-header">
            <h3>Your Task</h3>
        </div>
        <p>You have 26 days to work each month. You have to complete the <strong>mandatory
            work</strong> on the company's F1 Car. After you have completed this mandatory work, you
            are free to spend your remaining time <strong>however you like</strong> -- on further
            upgrading components of the F1 Car, or working on the Concept Car project. After your
            month of work is over you will send the car to the Second Engineer (your teammate) who
            will complete it. You will then run that month's race, see the results, and view the
            damage your car received. Altogether there are eight races in total, starting with the
            Australian Grand Prix and ending with the Singapore Grand Prix.</p>

        <h4>The $20 competition</h4>

        <p>In order to simulate the importance your managers place on the Concept Car project, and
            the bonus they will offer, we will offer <strong>$20</strong> to the participant who
            <strong>does the most work on the Concept Car Project</strong>. This means that if
            participant A does 40 days of work of the Concept Car, and participant B does 45 days of
            work on the Concept Car, Participant B will receive $20 as a reward for performance.
            There will be two First Engineers and two Second Engineers who will receive this reward
            in each experiment session. It is very possible for one team member to get the bonus and
            the other to not get the bonus.</p>

        <p><strong>Please note:</strong></p> You are <b>not</b> in competition with your partner (a
        Second Engineer) for the $20 bonus. You are only in competition with other First Engineers.
        Your partner is a Second Engineer and they have their own bonus, and are only in competition
        with other Second Engineers.</p>
        <div class="page-header">
            <h3>How to play</h3>
        </div>
        <p>The simulation will present you with a number of options. You will first see a top row
            that will allow you to switch between your two projects. You will be allowed to switch
            to the Concept Car once you have finished your mandatory work on the F1 project.</p>
        <img class="img-rounded" src="../images/topNavBar.png" alt="">

        <div class="big-spacing-top"><p>You will then see a row of glyphs. These represent the three
            components of the car you will work on. From left to right: Engine, Powertrain, Wheel
            Assembly. If you still have mandatory work to complete on that component, there will be
            a red tooltip underneath it.</p>
            <img class="img-rounded" src="../images/partSelector.png" alt=""></div>

        <div class="row big-spacing-top">
            <div class="span2"><img class="img-rounded" src="../images/workButton.png" alt=""></div>
            <div class="span3"><p>You will then see the button that will allow you to work on that
                part.</p></div>
        </div>

        <br>

        <p>And you will see a set of information feedback boxes that will provide feedback on that
            part.</p>
        <img class="img-rounded" src="../images/infoFeedback.png" alt="">

        <br> <br>
        <h4>Chat Message System</h4>

        <div class="row">
            <div class="span3">
                <p>On the right of the screen you will see an instant message-style chat window. You
                    can communicate with your teammate (the Second Engineer) as much as you like
                    throughout the experiment.</p>
            </div>
            <div class="span2">
                <img class="img-rounded" src="../images/chatMessageWindow.png" alt="">
            </div>
        </div>

        <div class="spacing-top"><p><strong>Please note:</strong> You may chat about anything with
            your teammate, but we ask that you not reveal your identity. If you reveal your
            identity, you will no longer be anonymous, and the experiment assumes that no-one knows
            exactly who they are playing with. Thank you for your cooperation!</p></div>

        <div class="page-header">
            <h1>Control questions</h1>
        </div>
        <p>"Control questions" are a way for the experimenter to demonstrate that the participants
            were paying attention to the instructions. If the participants don't understand the
            instructions, their behavior might be based on a faulty understanding of the rules or
            the situation. This also lets the researchers say to other researchers, "We are pretty
            sure the participants knew the rules of the game, because they answered the control
            questions correctly."</p>

        <p>However, <strong>this is not a test</strong>. You can look back at the instructions if
            you forget some details And if you are having trouble, please feel free to raise your
            hand and ask the experimenter for help.</p>

        <div class="control-group">
            <label class="control-label">Are you in competition with your teammate for the $20
                bonus?</label> <span class="controls" location="inCompetitionQ"></span>
            <span class="controlQWrong" location="inCompetitionQWrong"></span>
        </div>
        <div class="control-group">
            <label class="control-label">How many races will your team enter?</label>
            <span class="controls" location="numRacesQ"></span>
            <span class="controlQWrong" location="numRacesQWrong"></span>
        </div>
        <div class="control-group">
            <label class="control-label">Suppose that Participant X works 35 days on the Concept Car
                project and Participant Y works 30 days on the Concept Car project. Who will receive
                the $20 bonus? </label> <span class="controls" location="numProj2WorkDaysQ"></span>
            <span class="controlQWrong" location="numProj2WorkDaysQWrong"></span>
        </div>
        <div class="control-group">
            <label class="control-label">Suppose Team X upgrades one component of their car to level
                5, and Team Y upgrades that same component to a level 6. If nothing else were
                different, who's car would win the race? </label>
            <span class="controls" location="levelOfCarQ"></span>
            <span class="controlQWrong" location="levelOfCarQWrong"></span>
        </div>

        <div location="submit"></div>
    </div>

</div>
</div>
<div location="tooltipTut"></div>
<div location="gauge"></div>

