<div class="jumbotron masthead">
    <div class="container simLogin">
        <h1>F1 Engineering Simulation</h1>

        <p>A simulation-based experiment for course credit... And money.</p>

        <div id="simLoginLocationLabel" location="locationLabel"></div>
        <div class="row">
            <div class="span12">
                <span><img src="../images/hero_frontsized.png" alt="" id="heroshot" height="589px" width="954px"></span>

                <div class="span6 offset4">
                    <div class="control-group">
                        <div class="control-label">Login Email</div>
                        <div class="controls" location="emailField"></div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">Password</div>
                        <div class="controls" location="passwordField"></div>
                    </div>
                    <div class="control-group">
                        <div class="controls" location="submitLogin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
