<header class="jumbotron subhead">
    <div class="container">
        <h1>Simulation Instructions</h1>

        <p class="lead">Where we will review the purpose of the game</p>

    </div>
</header>
<div class="instructions container">
    <div class="row">
        <div class="span6 offset3">

            <div class="page-header" id="firstStep">
                <h1>Summary</h1>
            </div>
            <p>Thank you again for taking the time to play the experiment game. We'll give a short
                summary of the instructions.</p>

            <h3>Your Job</h3>

            <p>As an engineer, you have to decide how to spend your limited time. You have 26 work
                days each month, and you are working on two projects:</p>
            <ul>
                <li>A Formula 1 Mercedes-ESB car (team project)</li>
                <li>A 2014 Mercedes Concept Car (personal project)</li>
            </ul>

            <h3>F1 Team Project</h3>

            <p> You are the First Engineer on the Formula 1 car project. This means that you will work on
                the car first. Once you are done you will send the car to the Second Engineer (your
                teammate) who will take the car and complete it.</p>

            <h3>2014 Mercedes Concept Car Project</h3>

            <p> Your personal project (the one you are rewarded for) is next year's Concept Car.
                Your managers have told you that the more days you spend working on the Concept Car
                project, the more they will reward you. They have said that they do not care how the
                company's F1 car does in its races.</p>

            <h3>The $20 competition</h3>

            <p>In order to simulate the importance your managers place on the Concept Car project,
                and the bonus they will offer, we will offer <strong>$20</strong> to the First Engineer
                who <strong>does the most work on the Concept Car Project</strong>. This means that
                if Participant "Alex" does 45 days of work of the Concept Car, and Participant
                "Brittany" does 40 days of work on the Concept Car, Alex will receive $20 as a
                reward for performance. The experimenters will contact the winners after the
                experiment is finished and set up times to distribute the prizes.</p>

            <p><strong>Note:</strong> You are <b>not</b> in competition with your partner (the Second
                Engineer) for the $20 bonus. You are only in competition with other First Engineers.
                Your partner is a Second Engineer and they have their own bonus, and are only in
                competition with other Second Engineers.

            <h4>Chat Message System</h4>

            <p>Don't forget that you may communicate with your teammate with the chat system.</p>

            <div class="spacing-top"><p><strong>Please note:</strong> You may chat about anything
                with your teammate, but we ask that you not reveal your identity. If you reveal your
                identity, you will no longer be anonymous, and the experiment assumes that no-one
                knows exactly who they are playing with. Thank you for your cooperation!</p></div>

            <div class="page-header">
                <h2>Control questions</h2>
            </div>
            <p>At the bottom of the page there are some questions. This is not a quiz, so don't
                worry. These are called control questions. "Control questions" are a way for the
                experimenter to demonstrate that the participants were paying attention to the
                instructions. If the participants don't understand the instructions, their behavior
                might be based on a faulty understanding of the rules or the situation. This also
                lets us say to other researchers, "We are pretty sure the participants
                knew the rules of the game, because they answered the control questions
                correctly."</p>

            <p>Again, this is not a test. You can look back at the summary if you forget some
                details. And if you are having trouble, please feel free to raise your hand and ask
                the experimenter for help.</p>

            <!--
                    <div class="control-group">
                        <label class="control-label">Are you in competition with your teammate for the $20
                            bonus? </label> <span class="controls" location="inCompetitionQ"></span>
                        <span class="controlQWrong" location="inCompetitionQWrong"></span>
                    </div>
            -->
            <div location="qContainer"></div>
            <div location="submit"></div>
        </div>

    </div>
</div>

