<header class="jumbotron subhead">
    <div class="container">
        <h1>Simulation Instructions</h1>

        <p class="lead">Where we will learn how to play the game</p>

    </div>
</header>
<div class="instructions container">
    <div class="row">
        <div class="span6 offset3">

            <div class="page-header" id="firstStep">
                <h1>Summary</h1>
            </div>
            <p>Thank you again for taking the time to play the experiment game. We'll give a short
                summary of the instructions.</p>

            <h3>Your Job: The F1 Team Project</h3>

            <p> You are the Second Engineer on the Formula 1 car project. This means that you will
                work on the car after your teammate (the First Engineer). Each part of the car your
                teammate works on affects your ability to reach the goal and get 1st place in the
                next race.</p>

            <p>For example, if your teammate works extra on the Engine, it will be easier for you to
                reach the team goal for Top Speed. If your teammate does only the minimum amount of
                work on the Engine, you will have to work longer to reach the team goal for Top
                Speed. You might not even be able to reach the goal.</p>

            <p>If you are not able to reach the team goals you will do poorly in the races. Your
                teammate <strong>could</strong> have helped by working longer, but they chose to
                spend their time on something else.</p>

            <h3>The $20 competition</h3>

            <p>In order to simulate the importance your managers place on winning races, and the
                bonus they will offer, we will offer <strong>$20</strong> to the Second Engineer who
                <strong>has the highest point total</strong> after the 8 races. This means that if
                Alex's team has 75 points at the end, and Brittany's team has 80 points, Brittany
                will receive $20 as a reward for performance. The experimenters will contact the
                winners after the experiment is finished and set up times to distribute the prizes.
            </p>

            <p><strong>Note:</strong> You are <b>not</b> in competition with your partner (the
                First Engineer) for the $20 bonus. You are only in competition with other Second
                Engineers. Your partner is a First Engineer and they have their own bonus, and are
                only in competition with other First Engineers.

            <h4>Chat Message System</h4>

            <p>Don't forget that you may communicate with your teammate with the chat system.</p>

            <div class="spacing-top"><p><strong>Please note:</strong> You may chat about anything
                with your teammate, but we ask that you not reveal your identity. If you reveal your
                identity, you will no longer be anonymous, and the experiment assumes that no-one
                knows exactly who they are playing with. Thank you for your cooperation!</p></div>

            <div class="page-header">
                <h2>Control questions</h2>
            </div>
            <p>At the bottom of the page there are some questions. This is not a quiz, so don't
                worry. These are called control questions. "Control questions" are a way for the
                experimenter to demonstrate that the participants were paying attention to the
                instructions. If the participants don't understand the instructions, their behavior
                might be based on a faulty understanding of the rules or the situation. This also
                lets us say to other researchers, "We are pretty sure the participants knew the
                rules of the game, because they answered the control questions correctly."</p>

            <p>Again, this is not a test. You can look back at the summary if you forget some
                details. And if you are having trouble, please feel free to raise your hand and ask
                the experimenter for help.</p>

            <div location="qContainer"></div>
            <div location="submit"></div>
        </div>
    </div>
</div>

