<header class="jumbotron subhead">
    <div class="container">
        <h1>Lobby waiting room</h1>

        <p class="lead">Where we will wait for the others to finish reading the instructions</p>

    </div>
</header>
<div class="instructions container">
    <div class="span6 offset3">
        <section id="intro">
            <h4>Lobby waiting room -- Why?</h4>

            <p>As you probably gathered from the instructions, this simulation requires pairs of
                participants to work. So we have to wait for all participants in this session to
                finish before we randomly match everyone. This helps us keep participants anonymous
                from one another.</p>
        </section>
        <section id="counter">
            <div class="page-header">
                <h1>Lobby Stats</h1>
            </div>
            <h4>Number of participants going through the tutorial: <span location="numOfParticipants"></span>
            </h4>
            <h4>Number who are ready and waiting for the experiment:
                <span location="numWaitingInLobby"></span></h4>
        </section>

        <section id="summary">
            <div class="page-header">
                <h1>Summary of Instructions</h1>
            </div>
            <h3>Your Task</h3>

            <div location="summaryInfo"></div>
        </section>
    </div>
</div></div>
