<header class="jumbotron subhead">
    <div class="container">
        <h1>Simulation - Part 1</h1>

        <p class="lead">Where we will sign in, read the consent form, and gather some information.<sup>*</sup></p>

    </div>
</header>
<div class="signup container" id="scrollContent" data-target=".intro-sidebar">
    <div class="row">
        <div class="span3 intro-sidebar">
            <!--<small><sup>*</sup>This part must be completed at least 24 hours before your experiment lab session.</small>-->


        </div>
        <div class="span6">
            <section id="register">
                <div class="page-header">
                    <h1>Login / Register:</h1>
                </div>
                <h3>Login if you have an existing account:</h3>

                <div class="intro-sidebar">
                    <ul class="nav nav-list sidenav">
                        <li class="active">
                            <a href="#register"> <i class="icon-chevron-right"></i> Register or Login</a>
                        </li>
                        <li>
                            <a href="#confidentiality"> <i class="icon-chevron-right"></i> Anonymity Agreement </a>
                        </li>
                        <li>
                            <a href="#consent"> <i class="icon-chevron-right"></i>Consent Form</a>
                        </li>
                        <li>
                            <a href="#sessionTime"> <i class="icon-chevron-right"></i>Pick a Session Time</a>
                        </li>

                    </ul>
                </div>
                <div class="control-group">
                    <div class="control-label">Email Address</div>
                    <div class="controls" location="existingEmail"></div>
                </div>
                <div class="control-group">
                    <div class="control-label">Password</div>
                    <div class="controls" location="existingPassword"></div>
                </div>
                <div class="control-group">
                    <div class="controls" location="existingSubmit"></div>
                </div>
                <div location="existingAlert"></div>
                <hr/>
                <h3>Register if you do not have an account for this experiment:</h3>

                <p>The experiment will span two sessions. In order to keep track of participants you will need to enter
                    your <em>email</em> and a <em>password</em>.</p>

                <h4>Email</h4>

                <p>A correct email is important so that we can send you confirmation about your experiment session and
                    award participation marks.</p>

                <h4>Password</h4>

                <p>You will need to remember this password when you log back into Part 2. The password will be
                    immediately encrypted, so don't forget it.</p>

                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="control-label">Email Address</div>
                        <div class="controls" location="newEmail"></div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">Confirm Email</div>
                        <div class="controls" location="newEmail2"></div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">Password</div>
                        <div class="controls" location="password1"></div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">Confirm Password</div>
                        <div class="controls" location="password2"></div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">Your class section</div>
                        <div class="controls" location="sectionComboBox"></div>
                    </div>
                    <div class="control-group">
                        <div class="controls" location="submit"></div>
                    </div>
                </div>
                <div location="returningAlert"></div>
            </section>
            <section class="disablingDivWrapper" id="confidentiality">
                <div class="step1 disablingDiv"></div>
                <div class="page-header">
                    <h1>Anonymity Agreement</h1>
                </div>

                <p>It is important for the integrity of this experiment that all participants remain anonymous to other
                    participants and to the researchers. All information collected during the experiment is stored
                    with reference to a random id. This random id is not connected in any way to your email.</p>

                <p>However, there are many $20 cash prizes to be earned in this experiment. We will use your email to
                    contact you, should you win. And you email will be used to send a reminder about the experiment.
                    After the experiment is over, all email addresses will be deleted.</p>

                <p><h4>To emphasize:</h4> All information you provide during the experiment is not connected to your
                email. This includes answers to questions, and your behavior during the simulation.</p>

                <p>It is important that you understand that all information recorded about your behavior is
                    completely anonymous.</p>

                <div location="anonUnderstoodButton"></div>
            </section>
            <section class="disablingDivWrapper" id="consent">
                <div class="step2 disablingDiv"></div>
                <div class="page-header">
                    <h1>Consent Form</h1>
                </div>
                <p>You are invited to participate in a research project entitled “A Simulation Between Team Members.”
                    Please read this form carefully, and feel free to ask any questions you might have.</p>

                <p><b>Researcher:</b> Dr. Christopher Poile, Assistant Professor, Department of Industrial Relations and
                    Organizational Behavior, Edwards School of Business, 966-2491, poile@edwards.usask.ca </p>

                <p><b>Co-Researcher:</b> Dr. Matthias Spitzmuller, Assistant Professor, National University of
                    Singapore, Department of Management & Organisation, Phone: +65 6516 7230. bizms@nus.edu.sg</p>

                <p>The purpose of the study to is to examine the behavior of individuals as they participate in small
                    work groups. Participants will be asked to fill out a pre-task questionnaire. Participants will be
                    anonymously paired with another person to play a game that simulates a simple work task. During the
                    game and after the
                    game you will be asked to fill out a very short set of questions. The study will take between 25 minutes and
                    an hour, depending on the speed of the participants. The results of this study will be used in
                    writing an academic research paper and may be presented at academic conferences and/or published in
                    journals. Responses will be aggregated across all respondents and only averages will be reported.
                    There is no identifying information recorded at any time. Your behavior is anonymous.</p>

                <p>Your participation is voluntary, and you need answer only those questions that you are comfortable
                    with. There is no guarantee that you will personally benefit from your involvement. The information
                    that is shared will be held in strict confidence, accessible only to the principal researcher.
                    Experimental data will be stored by the research supervisor for a minimum of five years. If the
                    supervisor chooses to destroy the data after the five years, it will be destroyed beyond recovery.
                    You may withdraw from the research project for any reason, at any time, without penalty of any sort
                    and still receive the participation marks. If you withdraw from the research project at any time,
                    any data that you have contributed will be destroyed at your request. Your right to withdraw data
                    from the study will apply until the data has been pooled. After this it is possible that some form
                    of research dissemination will have already occurred and it may not be possible to withdraw your
                    data.</p>

                <p>If you have any questions concerning the research project, please feel free to ask at any point; you
                    are also free to contact the researchers at the numbers provided if you have other questions. This
                    research project has been approved on ethical grounds by the University of Saskatchewan Behavioural
                    Research Ethics Board on Dec 21 2011. Any questions regarding your rights as a participant may be
                    addressed to that committee through the Ethics Office (966-2084). Out of town participants may call
                    collect.</p>

                <p>The principle researcher will send an email out to all participants of the experiment explaining the
                    experiment after it is completed. Any questions you may have can be addressed over email or in
                    person.</p>

                <p>I have read and understood the description provided; I have had an opportunity to ask questions and
                    my/our questions have been answered. I consent to participate in the research project, understanding
                    that I may withdraw my consent at any time. A copy of this Consent Form has been given to me for my
                    records.</p>

                <div location="consentAgree"></div>
            </section>

            <section class="disablingDivWrapper" id="sessionTime">
                <div class="step3 disablingDiv"></div>
                <div class="header">
                    <h1>Pick a Session Time</h1>
                </div>
                <p>Part of the experiment will take place in a computer lab. It will typically last less than an hour, but
                    we have booked 1.5 hours just in case. Please note: <strong>It is
                    important that participants arrive on time to the experiment</strong>. Please pick a session time that works
                    best for you.</p>

                <h4>Note about session time availability</h4>

                <p>We have tried to offer a variety of session times and dates to accommodate student schedules.
                    However, there are only 30 spaces available for each session and they will be filled on a first-come
                    first-served basis.</p>

                <h4>Changing your session time booking</h4>

                <p>You can change your session booking by logging back onto this signup system
                    (<a href="http://chp3.usask.ca/signup/">http://chp3.usask.ca/signup/</a>), up to <em><strong>4
                        hours</strong></em> before the start of the session time. This information will be sent to you
                    in the confirmation email.</p>

                <h4>Research pool policies</h4>

                <p>Refer to your course syllabus for research pool policies, including the alternative assignment
                    options and the loss of participation marks for no-shows to the experiment session.</p>

                <h3>All experiment sessions
                    <small><i>(Updated every 5 seconds)</i></small>
                </h3>
                <div location="experimentSessions"></div>
                <h4>You are booked into session:</h4>

                <div location="sessionBooking"></div>
                <h3>Pick or change your session</h3>

                <div location="sessionComboBox"></div>
                <div location="sessionSubmit"></div>
            </section>
        </div>
    </div>
</div>
<div location="navlist"></div>
<div location="persistentCmds"></div>