*.class

# Package Files #
*.jar
*.war
*.ear

.idea/

out/

classes/artifacts/

*.log

#maven
admin/target/
webapp/target/
models/target/
settings/target/
signup/target/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Vaadin widgetset compiler output.
gwt-unitCache/
widgetsets/
.sass-cache/

admin/src/main/webapp/VAADIN/gwt-unitCache/
webapp/src/main/webapp/VAADIN/gwt-unitCache/
models/src/main/webapp/VAADIN/gwt-unitCache/
settings/src/main/webapp/VAADIN/gwt-unitCache/
simulation/src/main/webapp/VAADIN/gwt-unitCache/

admin/src/main/webapp/VAADIN/widgetsets/
webapp/src/main/webapp/VAADIN/widgetsets/
models/src/main/webapp/VAADIN/widgetsets/
settings/src/main/webapp/VAADIN/widgetsets/
simulation/src/main/webapp/VAADIN/widgetsets/

admin/src/main/webapp/scss/.sass-cache/
webapp/src/main/webapp/scss/.sass-cache/
models/src/main/webapp/scss/.sass-cache/
settings/src/main/webapp/scss/.sass-cache/
simulation/src/main/webapp/scss/.sass-cache/


