<configuration scan="true">
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>../logs/ExpServer-template.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="multiplex" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
        <Compressing>true</Compressing>
        <!-- will automatically use correct default port -->
        <!-- Default port for compressed is 10000 and uncompressed 10001 -->
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
        <RemoteHosts>localhost</RemoteHosts>

        <!-- Alternatively:
        <RemoteHost>localhost</RemoteHost>
        <RemoteHost>10.200.55.13</RemoteHost>
        -->
        <!--
        Optional:
        <CreatingUUID>false</CreatingUUID>
        -->
    </appender>


    <!--Look in the context/system/environment property "logback-root-level", and if not defined set root-level to DEBUG-->
    <root level="${logback-root-level:-DEBUG}">
        <!--<root level="DEBUG">-->
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
        <appender-ref ref="multiplex" />
    </root>
</configuration>