<header class="jumbotron subhead">
    <div class="container">
        <span location="hidden"></span>

        <h1>Page 2</h1>

        <p class="lead">Where we will gather some information about your culture.</p>
    </div>
</header>
<div class="container">

<div class="row">
    <div class="span3"></div>
    <div class="span6">
        <section id="instructions">
            <div class="page-header">
                <h1>Page 2</h1>
            </div>
            <p>This section is similar to the last. Please read over all items and pick the value
                that is most important to you (Step 1), the least important to you (Step 2), and
                rate the remaining items (Step 3). The instructions are repeated here in case you
                need to refer to them again. </p>

            <div class="page-header">
                <h1>Personal Values</h1>
            </div>
            <p>In this questionnaire, you are to ask yourself: "What values are important to ME as
                guiding principles in MY life, and what values are less important to me?"</p>

            <p>There are two lists of values on the following pages. These values come from
                different cultures. In the parentheses following each value is an explanation that
                may help you to understand its meaning. Please rate how important each value is for
                you as a guiding principle in your life.</p>

            <p>Use the rating scale below: </p>

            <p>0—means the value is not at all important, it is not relevant as a guiding principle
                for you.</p>

            <p>3—means the value is important.</p>

            <p>6—means the value is very important.</p>

            <p>The higher the number (0,1,2,3,4,5,6), the more important the value is as a guiding
                principle in YOUR life.</p>

            <p>-1 is for rating any values opposed to the principles that guide you. 7 is for rating
                a value of supreme importance as a guiding principle in your life; ordinarily, there
                are no more than two such values. </p>

            <p>In the space before each value, write the number (-1,0,1,2,3,4,5,6,7) that indicates
                the importance of that value for you, personally. Try to distinguish as much as
                possible between the values by using all the numbers. You will, of course, need to
                use numbers more than once.</p>
        </section>
    </div>
</div>
<div class="row">
<div class="span8 offset3">

    <div id="svsInfoBox" class="page2">
        <div id="svs-1">-1</div>
        <div id="svs0">0</div>
        <div id="svs1">1</div>
        <div id="svs2">2</div>
        <div id="svs3">3</div>
        <div id="svs4">4</div>
        <div id="svs5">5</div>
        <div id="svs6">6</div>
        <div id="svs7">7</div>
        <div id="svs0Expl">0—means the value is not at all important, it is not relevant as a
            guiding principle for you.
        </div>
        <div id="svs3Expl">3—means the value is important.</div>
        <div id="svs6Expl">6—means the value is very important.</div>
    </div>

    <br>

    <h1>Steps:</h1>

    <h3>Step 1:</h3> Read through the choices in this list and decide which value is <strong>
    <emph>most</emph>
</strong> important to you. Assign a 6 or 7 to that value, depending on how important that value is
    to your life.
    <h3>Step 2:</h3> Decide which value is <strong><em>least</em></strong> important for you. Assign
    a 0 or -1 to that value, depending on how strongly opposed you are to that value.
    <h3>Step 3:</h3> Fill out the remaining values. Your rankings will fall between the two extremes
    you entered in steps 1 and 2.
    <section id="instruction2">
        <div class="form-horizontal">
            <div class="control-group">
                <div class="control-label">31</div>
                <div class="controls">
                    <span location="itemBox31"></span><span location="itemCaption31"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">32</div>
                <div class="controls">
                    <span location="itemBox32"></span><span location="itemCaption32"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">33</div>
                <div class="controls">
                    <span location="itemBox33"></span><span location="itemCaption33"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">34</div>
                <div class="controls">
                    <span location="itemBox34"></span><span location="itemCaption34"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">35</div>
                <div class="controls">
                    <span location="itemBox35"></span><span location="itemCaption35"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">36</div>
                <div class="controls">
                    <span location="itemBox36"></span><span location="itemCaption36"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">37</div>
                <div class="controls">
                    <span location="itemBox37"></span><span location="itemCaption37"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">38</div>
                <div class="controls">
                    <span location="itemBox38"></span><span location="itemCaption38"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">39</div>
                <div class="controls">
                    <span location="itemBox39"></span><span location="itemCaption39"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">40</div>
                <div class="controls">
                    <span location="itemBox40"></span><span location="itemCaption40"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">41</div>
                <div class="controls">
                    <span location="itemBox41"></span><span location="itemCaption41"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">42</div>
                <div class="controls">
                    <span location="itemBox42"></span><span location="itemCaption42"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">43</div>
                <div class="controls">
                    <span location="itemBox43"></span><span location="itemCaption43"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">44</div>
                <div class="controls">
                    <span location="itemBox44"></span><span location="itemCaption44"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">45</div>
                <div class="controls">
                    <span location="itemBox45"></span><span location="itemCaption45"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">46</div>
                <div class="controls">
                    <span location="itemBox46"></span><span location="itemCaption46"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">47</div>
                <div class="controls">
                    <span location="itemBox47"></span><span location="itemCaption47"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">48</div>
                <div class="controls">
                    <span location="itemBox48"></span><span location="itemCaption48"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">49</div>
                <div class="controls">
                    <span location="itemBox49"></span><span location="itemCaption49"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">50</div>
                <div class="controls">
                    <span location="itemBox50"></span><span location="itemCaption50"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">51</div>
                <div class="controls">
                    <span location="itemBox51"></span><span location="itemCaption51"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">52</div>
                <div class="controls">
                    <span location="itemBox52"></span><span location="itemCaption52"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">53</div>
                <div class="controls">
                    <span location="itemBox53"></span><span location="itemCaption53"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">54</div>
                <div class="controls">
                    <span location="itemBox54"></span><span location="itemCaption54"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">55</div>
                <div class="controls">
                    <span location="itemBox55"></span><span location="itemCaption55"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">56</div>
                <div class="controls">
                    <span location="itemBox56"></span><span location="itemCaption56"></span>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">57</div>
                <div class="controls">
                    <span location="itemBox57"></span><span location="itemCaption57"></span>
                </div>
            </div>
        </div>

        <div location="submit"></div>
    </section>
</div>
</div>
</div>
<div location="affix"></div>
