<header class="jumbotron subhead">
    <div class="container">
        <h1>Experiment Survey System</h1>

        <p class="lead">Where we will gather some information.<sup>*</sup></p>

        <div class="span4 offset5"><h6><sup>*</sup>Should take less than 15 minutes.</h6></div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span3"></div>
        <div class="span6">
            <section id="surveys">
                <div class="page-header">
                    <h2>Instructions</h2>
                </div>
            </section>
            <p>The following survey is part of the experiment that make up your participant mark
                for Comm 105. You will receive 3% of your participation mark for completing the
                survey and the experiment session.</p>

            <p>These surveys evaluate your perceptions about yourself. While you are required to complete the survey to
                receive participation marks, your answers will have no direct effect on your course
                grade. As long as you answer all questions with care, and you attend the experiment session, you will receive credit. </p>

            <p> Important: To save time, some students randomly answers the survey questions. PLEASE
                DO NOT PROVIDE RANDOM ANSWERS. THE SOFTWARE CHECKS FOR RANDOM ANSWER PATTERN. YOU
                WILL RECEIVE NO CREDIT IF YOUR ANSWERS ARE RANDOM.</p>

            <h4>Complete the surveys at least 4 hours before your session</h4>

            <p>Remember that it is important for the experiment that you complete the surveys
                <strong><em>no later than 4 hours before your experiment session</em></strong>.
                For example, if your session is Wed at 5pm, you need to complete your surveys
                by Wed at 1pm.</p>

            <p>The answers to the surveys will be aggregated and those interested can receive a
                summary of all responses (no names or ID will be provided, only country averages) so
                you can compare your answers to those of other students and learn from the
                experience.</p>

            <p>Thank you very much for your input!</p>

            <div location="ifFinishedAllMsg"></div>
        </div>
    </div>

    <div class="row">
        <div class="span3 offset3">
            <div location="survey1"></div>
            <div location="survey1ComplMsg"></div>
            <div class="timeText">Typical length: < 15 minutes</div>
        </div>
    </div>
</div>
