<div class="jumbotron masthead">
    <div class="container">
        <h1>Experiment Survey System</h1>

        <p>Some questions to answer before the simulation begins.</p>

        <h5><em>Note</em>: This part of the experiment must be completed 4 hours before the start of your experiment
            session. If you do not complete it in time you cannot participate in your session.</h5>
    </div>
</div>
<div id="signupIntro" class="container">
    <div class="row">
        <div class="span6 offset2">
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">Email Address</div>
                    <div class="controls" location="existingEmail"></div>
                </div>
                <div class="control-group">
                    <div class="control-label">Password</div>
                    <div class="controls" location="existingPassword"></div>
                </div>
                <div class="control-group">
                    <div class="controls" location="existingSubmit"></div>
                </div>
                <hr>

                <div id="goToRegistration">
                    <h4>If you have not registered yet, please do so first.</h4>

                    <div location="goToRegistration"></div>
                </div>
            </div>
        </div>
    </div>
</div>