<header class="jumbotron subhead">
    <div class="container">
        <h1>Page 1</h1>

        <p class="lead">Where we will gather some information about your values.</p>
    </div>
</header>
<div class="container">
<div class="row">
    <div class="span3"></div>
    <div class="span6">
        <section id="instructions">
            <div class="page-header">
                <h1>Personal Values</h1>
            </div>
            <p>In this questionnaire, you are to ask yourself: "What values are important to
                <strong>ME</strong> as guiding principles in <strong>MY</strong> life, and what
                values are less important to me?"</p>

            <p>There are two lists of values on the following pages. These values come from
                different cultures. In the parentheses following each value is an explanation that
                may help you to understand its meaning. Please rate how important each value is for
                you as a guiding principle in your life.</p>

            <p>Use the rating scale below: </p>

            <p>0—means the value is not at all important, it is not relevant as a guiding principle
                for you.</p>

            <p>3—means the value is important.</p>

            <p>6—means the value is very important.</p>

            <p>The higher the number (0,1,2,3,4,5,6), the more important the value is as a guiding
                principle in YOUR life.</p>

            <p>-1 is for rating any values opposed to the principles that guide you. 7 is for rating
                a value of supreme importance as a guiding principle in your life; ordinarily, there
                are no more than two such values. </p>

            <p>In the space before each value, write the number (-1,0,1,2,3,4,5,6,7) that indicates
                the importance of that value for you, personally. Try to distinguish as much as
                possible between the values by using all the numbers. You will, of course, need to
                use numbers more than once.</p>
        </section>
    </div>
</div>
<div class="row"  id="survey2Part1MainSection">
    <div class="span8 offset3">

        <div id="svsInfoBox">
            <div id="svs-1">-1</div>
            <div id="svs0">0</div>
            <div id="svs1">1</div>
            <div id="svs2">2</div>
            <div id="svs3">3</div>
            <div id="svs4">4</div>
            <div id="svs5">5</div>
            <div id="svs6">6</div>
            <div id="svs7">7</div>
            <div id="svs0Expl">0—means the value is not at all important, it is not relevant as a
                guiding principle for you.
            </div>
            <div id="svs3Expl">3—means the value is important.</div>
            <div id="svs6Expl">6—means the value is very important.</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span8 offset3">
        <hr>

        <h1>Steps:</h1>

        <h3>Step 1:</h3> Read through the choices in this list and decide which value is <strong>
        <emph>most</emph>
        </strong> important to you. Assign a 6 or 7 to that value, depending on how important that value
        is to your life.
        <h3>Step 2:</h3> Decide which value is <strong><em>least</em></strong> important for you.
        Assign a 0 or -1 to that value, depending on how strongly opposed you are to that value.
        <h3>Step 3:</h3> Fill out the remaining values. Your rankings will fall between the two
        extremes you entered in steps 1 and 2.

        <section id="instruction2">
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">1</div>
                    <div class="controls">
                        <span location="itemBox1"></span><span location="itemCaption1"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">2</div>
                    <div class="controls">
                        <span location="itemBox2"></span><span location="itemCaption2"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">3</div>
                    <div class="controls">
                        <span location="itemBox3"></span><span location="itemCaption3"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">4</div>
                    <div class="controls">
                        <span location="itemBox4"></span><span location="itemCaption4"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">5</div>
                    <div class="controls">
                        <span location="itemBox5"></span><span location="itemCaption5"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">6</div>
                    <div class="controls">
                        <span location="itemBox6"></span><span location="itemCaption6"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">7</div>
                    <div class="controls">
                        <span location="itemBox7"></span><span location="itemCaption7"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">8</div>
                    <div class="controls">
                        <span location="itemBox8"></span><span location="itemCaption8"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">9</div>
                    <div class="controls">
                        <span location="itemBox9"></span><span location="itemCaption9"></span></div>
                </div>
                <div class="control-group">
                    <div class="control-label">10</div>
                    <div class="controls">
                        <span location="itemBox10"></span><span location="itemCaption10"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">11</div>
                    <div class="controls">
                        <span location="itemBox11"></span><span location="itemCaption11"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">12</div>
                    <div class="controls">
                        <span location="itemBox12"></span><span location="itemCaption12"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">13</div>
                    <div class="controls">
                        <span location="itemBox13"></span><span location="itemCaption13"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">14</div>
                    <div class="controls">
                        <span location="itemBox14"></span><span location="itemCaption14"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">15</div>
                    <div class="controls">
                        <span location="itemBox15"></span><span location="itemCaption15"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">16</div>
                    <div class="controls">
                        <span location="itemBox16"></span><span location="itemCaption16"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">17</div>
                    <div class="controls">
                        <span location="itemBox17"></span><span location="itemCaption17"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">18</div>
                    <div class="controls">
                        <span location="itemBox18"></span><span location="itemCaption18"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">19</div>
                    <div class="controls">
                        <span location="itemBox19"></span><span location="itemCaption19"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">20</div>
                    <div class="controls">
                        <span location="itemBox20"></span><span location="itemCaption20"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">21</div>
                    <div class="controls">
                        <span location="itemBox21"></span><span location="itemCaption21"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">22</div>
                    <div class="controls">
                        <span location="itemBox22"></span><span location="itemCaption22"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">23</div>
                    <div class="controls">
                        <span location="itemBox23"></span><span location="itemCaption23"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">24</div>
                    <div class="controls">
                        <span location="itemBox24"></span><span location="itemCaption24"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">25</div>
                    <div class="controls">
                        <span location="itemBox25"></span><span location="itemCaption25"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">26</div>
                    <div class="controls">
                        <span location="itemBox26"></span><span location="itemCaption26"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">27</div>
                    <div class="controls">
                        <span location="itemBox27"></span><span location="itemCaption27"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">28</div>
                    <div class="controls">
                        <span location="itemBox28"></span><span location="itemCaption28"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">29</div>
                    <div class="controls">
                        <span location="itemBox29"></span><span location="itemCaption29"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">30</div>
                    <div class="controls">
                        <span location="itemBox30"></span><span location="itemCaption30"></span>
                    </div>
                </div>
            </div>
            <div location="submit"></div>
        </section>
    </div>
</div>
</div>