<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a><span location="toExperimentSessionSignUp"></span></a></li>
                <li class="active"><a>Alternative Assignment SignUp</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="jumbotron subhead">
    <div class="container">
        <h1>Alternative Assignment SignUp</h1>
    </div>
</header>
<div class="signup container" id="scrollContent" data-target=".intro-sidebar">
    <div class="row">
        <div class="span6 offset3">
            <div location="userRegisterComponent"></div>

            <section class="disablingDivWrapper" id="sessionTime">
                <div class="step3 disablingDiv"></div>
                <div class="header">
                    <h1>The Alternative Assignment</h1>
                </div>
                <p>We recognize that some students may feel uncomfortable participating in an
                    experiment, they may not have the time to participate in a 45 minute
                    session, or they simply may not want to participate. We are committed to
                    offering those students the same opportunity to earn their 3% participation
                    grade. You may do this by completing an alternative assignment.</p>

                <p>The alternative assignment will be a short case dealing with similar material to
                    the experiment. The case will be about a page in length and the student will need to
                    answer three short-answer questions. The hand-in answers will be about two pages
                    of writing (double spaced). The alternative assignment is designed to take
                    around 2 hours to complete, similar to the combined survey and online game.
                    (But it may take longer depending on your case-writing skills.</p>

                <p>There are two requirements for the alternative assignment that the student must
                    fulfill in order to get their participation mark.</p>
                <ol>
                    <li>The student will need to register for the alternative assignment before the
                        final experiment is conducted: <b>Friday, April 11, 6:00pm</b>.
                    </li>
                    <li>The student is not allowed to be registered in both the experiment and the
                        alternative assignment at the same time.
                    </li>
                </ol>

                <p>The last point is important. The system will not allow a participant to withdraw
                    from an experiment time-slot if the experiment session is less than 4 hours
                    away. Failing to show at their time-slot is considered a no-show, and since the
                    student was enrolled in a session time-slot, the student will not be able to
                    sign up for another time-slot or for the alternative assignment.</p>

                <p>The alternative assignment will be distributed on Mon Apr. 14th and the student
                    has until the day before their exam date to hand in the assignment to the course
                    coordinator. An email will be sent to everyone who signed up with the short
                    instructions and the assignment.</p>

                <p>If a student changes their mind and would like to participate in the experiment,
                    and still has time to complete the surveys before his or her session time, the
                    student can withdraw from the alternative assignment and go to the experiment
                    session sign-up page.</p>

                <div class="registrationStatus">
                    <h4>Registration Status</h4>

                    <div location="altAssignFeedback"></div>
                </div>
                <br/>

                <div location="altAssignRegisterButtons"></div>
                <br/>
            </section>
        </div>
    </div>
</div>
<div location="navlist"></div>
<div location="persistentCmds"></div>

