<div class="jumbotron masthead">
    <img src="../images/hero_frontsized.png" style="height: 589px; width: 954px;" alt="" id="heroshot">

    <div class="container">
        <h1>F1 Engineering Simulation</h1>

        <p>A simulation-based experiment for course credit... And money.</p>

        <div class="row">
            <div class="span6 offset5">
                <h3>If this is the first time visiting you will need to sign up.<br/>
                    <small>You can also change your session time slot on the sign-up page.</small>
                </h3>
                <span id="part1Button" location="signUpButton"></span>

                <h3>After signing up for an experiment session you will need to complete a quick
                    survey.<br/> You must complete the survey at least <em>4 hours</em> before your
                    session begins.</h3>
                <span id="part2Button" location=surveyButton></span>

                <h3>If you do not want to participate in an experiment, or you are unable to
                    participate, you will need to sign up for the alternative assignment. The
                    Deadline for signing up to the alternative assignment is <b>Friday, April 11,
                        11:30am</b>.</h3>
                <span id="part3Button" location="altAssignButton"></span>
            </div>
        </div>
    </div>
</div>