<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a>Experiment Session SignUp</a></li>
                <li><a><span location="toAltAssignSignUp"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<header class="jumbotron subhead">
    <div class="container">
        <h1>Experiment Session SignUp</h1>
    </div>
</header>
<div class="signup container" id="scrollContent" data-target=".intro-sidebar">
<div class="row">
<div class="span7 offset3">
<div location="userRegisterComponent"></div>
<section class="disablingDivWrapper" id="confidentiality">
    <div class="step1 disablingDiv"></div>
    <div class="page-header">
        <h1>Anonymity Agreement</h1>
    </div>

    <p>It is important for the integrity of this experiment that all participants remain anonymous
        to other participants and to the researchers. All information collected during the
        experiment is stored with reference to a random id. This random id is not connected in any
        way to your email.</p>

    <p>However, there are $50 cash prizes to be earned in this experiment. We will use your nsid
        email to contact you, should you win. And your nsid email will be used to send a reminder
        about the experiment. After the experiment is over, all nsid email addresses will be
        deleted.</p>

    <p><h4>To emphasize:</h4> All information you provide during the experiment is not connected to
    your nsid. This includes answers to questions, and your behavior during the simulation.</p>

    <p>It is important that you understand that all information recorded about your behavior is
        completely anonymous.</p>

    <div location="anonUnderstoodButton"></div>
</section>
<section class="disablingDivWrapper" id="consent">
    <div class="step2 disablingDiv"></div>
    <div class="page-header">
        <h1>Consent Form - Short version</h1>
    </div>

    The detailed information about the experiment is available in the consent form below. The short
    version is the following:
    <p>

    <ol>
        <li>Title: A Simulation Between Online Participants</li>
        <br/>
        <li>This experiment has 2 parts: a 15 minute survey (you can finish that now), and a 30-45
            minute simulation game (you need to sign up for an experiment session to finish that).
        </li>
        <li>Any information we collect will be coded and all names will be removed.</li>
        <li>The research is being conducted under ethics approval Beh #10-366.</li>
        <li>If you have any questions you can contact the principle researcher (Dr. Joseph Schmidt)
            at jschmidt@edwards.usask.ca
        </li>
        <li>You may remove your consent at any time through email.</li>
        <li>If you do not agree to the terms of the consent form, or you do not agree with the
            message in the box below, you may do an alternative assignment case study in order to
            earn your 3%. It should take about 60-100 minutes of your time to compete. Please sign
            up for the alternative assignment at the <a href="http://chp3.usask.ca/signup/">signup
                page</a>.
        </li>
    </ol>
    <p>

    <div id="consentLongForm" style="display:none;">
        <br/> <br/> Consent Form
        <p>

            You are invited to participate in a research project entitled "A Simulation Between Team
            Members." Please read this form carefully, and feel free to ask any questions you might
            have.

        <p>

            Researcher: Dr. Joseph Schmidt, Assistant Professor, Department of Industrial Relations
            and Organizational Behavior, Edwards School of Business, 966-4741,
            jschmidt@edwards.usask.ca

        <p>

            The purpose of the study to is to examine the behavior of individuals as they
            participate in small work groups. Participants will be asked to fill out a pre-task
            questionnaire and post-task questionnaire. Participants will be paired with another
            person and interact in a simulation. During the simulation and after you will be asked
            to fill out a short set of questions. The study will take about 30 minutes, depending on
            the speed of the participants. The results of this study will be used in writing an
            academic research paper and may be presented at academic conferences and/or published in
            journals. Responses will be aggregated across all respondents and only averages will be
            reported. There is no identifying information recorded at any time. Your behavior will
            be anonymous.

        <p>

            Your participation is voluntary, and although your participation is part of your course
            grade, your mark will in no way depend on your performance during the experiment or in
            answering the questions. There is no guarantee that you will personally benefit from
            your involvement. The information that is shared will be held in strict confidence,
            accessible only to the principal researcher. Experimental data will be stored by the
            research supervisor for a minimum of five years. If the supervisor chooses to destroy
            the data after the five years, it will be destroyed beyond recovery. You may withdraw
            from the research project for any reason, at any time, without penalty of any sort and
            still receive the participation marks. If you withdraw from the research project at any
            time, any data that you have contributed will be destroyed at your request. Your right
            to withdraw data from the study will apply until the data has been pooled. After this it
            is possible that some form of research dissemination will have already occurred and it
            may not be possible to withdraw your data.

        <p>

            If you have any questions concerning the research project, please feel free to ask at
            any point; you are also free to contact the researchers at the numbers provided if you
            have other questions. This research project has been approved on ethical grounds by the
            University of Saskatchewan Behavioural Research Ethics Board on Dec 21 2013 (Beh
            #10-366). Any questions regarding your rights as a participant may be addressed to that
            committee through the Ethics Office (966-2084). Out of town participants may call
            collect.

        <p>

            The principle researcher will send an email out to all participants of the experiment
            explaining the experiment after it is completed. Any questions you may have can be
            addressed over email or in person.
    </div>
    <p>

    <div location="consentLongerVers"></div>
    <hr/>

    <strong>Note:</strong> It is very important that you do the simulation game <strong>by
    yourself</strong>. Be sure to pick an experiment session time where you can be alone for about
    45 minutes.
    <p>
        By clicking the consent form you agree to the following: I have read and understood the
        description provided. I consent to participate in the research project, understanding that I
        may withdraw my consent at any time. I understand I may make a copy of this Consent Form for
        my records.

    <p>

        Please write this phrase in the box below to indicate you agree with the statement:

    <p>
        When I do the simulation game, I will be alone for about 45 minutes.

    </p>

    <div location="consentPhrase"></div>
    <div location="consentAgree"></div>

</section>

<section class="disablingDivWrapper" id="sessionTime">
    <div class="step3 disablingDiv"></div>
    <div class="header">
        <h1>Pick a Session Time</h1>
    </div>
    <p>This experiment has two parts: a survey and an online game. The game will
        take about 45 minutes (or less). You can play the game at home, or in a computer lab, it is
        up to you. You must use a computer connected to the Internet with a recent version of Firefox or Google Chrome, or
        else the game may not work. </p>

    <p>Remember: you <strong>need to play alone, by yourself</strong>. Please pick a session time
        that works best for you.</p>

    <h4>Changing your session time booking</h4>

    <p>You can change your session booking by logging back onto this signup system
        (<a href="http://chp3.usask.ca/signup/">http://chp3.usask.ca/signup/</a>), up to
        <em><strong>4 hours</strong></em> before the start of the session time. This information
        will be sent to you in the confirmation email.</p>

    <h4>Research pool policies</h4>

    <p>Refer to your course syllabus for research pool policies, including the alternative
        assignment options and the loss of participation marks for no-shows to the experiment
        session.</p>

    <h3>All experiment sessions</h3>
    <h5>Choose a session when you will have access to a computer, the internet, and can be alone for about 45 minutes.</h5>
    <div location="experimentSessions"></div>

    <div class="registrationStatus">
        <h4>Current Session Status:</h4>

        <div location="bookingFeedback"></div>
    </div>

    <h3>Pick or change your session</h3>

    <div location="sessionComboBox"></div>
    <div location="sessionButtons"></div>

    <br/> <br/>

    <div id="preSessionQuestions">
        <div class="header">
            <h1>Complete the Pre-Session Questions</h1>
        </div>
        <p> This experiment has two parts:</p>
        <ol>
            <li>A set of questions.</li>
            <li>The simulation experiment.</li>
        </ol>
        You have signed up for the experiment session. Now you need to complete the pre-experiment
        questions.</p>

        <h2>Important:</h2>

        <p>You must complete the questions at least 4 hours before the start of your experiment
            session. For example, if your session is Wed at 5:00 PM, you need to complete the
            questions before 1:00PM on Wed afternoon. If you do not complete the questions you will not
            be able to participate in the experiment.</p>

        <p>We thank you for your participation!</p>

        <p>Go to the surveys now:</p>

        <div location="goToSurveys"></div>
    </div>
</section>
</div>
</div>
</div>
<div location="navlist"></div>
<div location="persistentCmds"></div>

