<section id="register">
    <div class="page-header">
        <h1>Login / Register:</h1>
    </div>
    <h3>Login if you have an existing account:</h3>

    <div class="control-group">
        <div class="control-label">Email Address</div>
        <div class="controls" location="existingEmail"></div>
    </div>
    <div class="control-group">
        <div class="control-label">Password</div>
        <div class="controls" location="existingPassword"></div>
    </div>
    <div class="control-group">
        <div class="controls" location="existingSubmit"></div>
    </div>
    <div location="existingAlert"></div>
    <hr/>
    <h3>Register if you do not have an account for this experiment:</h3>

    <p>The experiment will span two sessions. In order to keep track of participants you will need
        to enter your <em>email</em> and a <em>password</em>.</p>

    <h4>Email</h4>

    <p>A correct email is important so that we can send you confirmation about your experiment
        session and award participation marks. This is whatever email address you regularly check.</p>

    <h4>Password</h4>

    <p>You will need to remember this password when you log back into Part 2. The password will be
        immediately encrypted, so don't forget it.</p>

    <h4>NSID</h4>

    <p>A correct NSID is important so that you receive your participation marks for Comm 105. This is the 6 letter and number code the University gives you for your campus email address. I.e., abc123</p>

    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">Email Address</div>
            <div class="controls" location="newEmail"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Confirm Email</div>
            <div class="controls" location="newEmail2"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Password</div>
            <div class="controls" location="password1"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Confirm Password</div>
            <div class="controls" location="password2"></div>
        </div>
        <div class="control-group">
            <div class="control-label">USask NSID</div>
            <div class="controls" location="nsid"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Confirm USask NSID</div>
            <div class="controls" location="nsid2"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Your class section</div>
            <div class="controls" location="sectionComboBox"></div>
        </div>
        <div class="control-group">
            <div class="controls" location="submit"></div>
        </div>
    </div>
    <div location="returningAlert"></div>
</section>