<div class="wnd container">
    <div class="row">
        <div class="span5 center">
            <div class="page-header">
                <h3><span location="title"></span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <span location="info"></span> <br>
        </div>
    </div>
    <div class="row">
        <div class="row spacing-top">
            <div class="span2 offset3">
                <div location="okButton"></div>
            </div>
        </div>
    </div>
</div>