<div class="wnd container">

    <div class="row">
        <div class="span7 center">
            <div class="page-header">
                <h3>You received the following parts from your partner:</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3 center">
            <div><h4>Engine</h4></div>
            <div><img src="../images/car/oneEngine.png" alt=""></div>
        </div>
        <div class="span4">
            <div location="engineReport" class="big-spacing-top"></div>
        </div>
    </div>
    <div class="row">
        <div class="span3 center spacing-top">
            <div><h4>PowerTrain</h4></div>
            <div><img src="../images/car/oneDrive.png" alt=""></div>
        </div>
        <div class="span4">
            <div location="powerTrainReport" class="big-spacing-top"></div>
        </div>
    </div>
    <div class="row">
        <div class="span3 center spacing-top">
            <div><h4>Wheel Assembly</h4></div>
            <div><img src="../images/car/oneTire.png" alt=""></div>
        </div>
        <div class="span4">
            <div location="wheelReport" class="big-spacing-top">ah</div>
        </div>
    </div>
    <div class="row">
        <div class="span2 offset6">
            <div location="okButton"></div>
        </div>
    </div>
</div>

