<div class="wnd container">
    <div class="row">
        <div class="span7 center">
            <div class="page-header">
                <h3><span location="title"></span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3 center">
            <img src="../images/crying_face.png" alt="">
        </div>
        <div class="span4">
            <span location="info"></span> <br>
        </div>
    </div>
    <div class="row">
        <div class="row spacing-top">
            <div class="span2 offset6">
                <div location="okButton"></div>
            </div>
        </div>
    </div>
</div>