<div id="finishedGameContainer" class="wnd container">

    <div class="row">
        <div class="span7 center">
            <div class="page-header">
                <h3>Congratulations, you've finished the 8 races!</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span7 center">
            <div id="finishedRaceResults" class="resultsTable" location="finishedRaceResults"></div>
        </div>
    </div>
    <div class="row">
        <div class="span7 center">
            <h3>Summary</h3>
        </div>
    </div>
    <div class="row">
        <div class="span7">
            <p><span location="summaryInfo"></span><span location="roleSpecificInfo"></span></p>
            <h4>Final Questions</h4>
            <p>We will ask a few final questions and then the experiment is over. We would like
            to know what you thought of the simulation and your opinion of your team.</p>
            <p>We thank you for your participation and hope you enjoyed the simulation!</p>
        </div>
    </div>
    <div class="row">
        <div class="span2 offset5 spacing-top">
            <div location="okButton"></div>
        </div>
    </div>
</div>

