<div id="watchingRaceLayout" class="inGame">
    <div class="header">

        <img id="logo" src="../images/logo.png" alt=""/>

        <!--ul id="globalnav">
            <li><a href="#">Team Project</a></li>
            <li class="current"><a href="#">Personal Project</a></li>
        </ul>-->

    </div>

    <div id="rvContentWrapper" class="raceview">

        <div class="rvLeftHalf">
            <h1 class="regulartext white" id="trackName"></h1>

            <img id="flagImg" src="" alt=""/>

            <h2 class="largetext white" id="raceName"></h2>

            <div id="trackImgDiv">
                <img id="trackImg" src="" alt=""/>
            </div>

            <div id="rvTrackInfo">
                <p>
                    <span class="mediumtext black" id="circuitLength"></span> <span class="regulartext black">Circuit Length</span>
                </p>

                <p class="last">
                    <span class="mediumtext black" id="raceLength"></span>
                    <span class="regulartext black">Race Length</span>
                </p>

                <p>
                    <span class="mlargetext black" id="curLap"></span> <span class="regulartext black" id="laps"></span>
                </p>

                <div id="conditionsDiv" class="last">
                    <img id="conditionsImg" class="c-inline" src="" alt=""/>
                    <div id="conditionsTextDiv">
                        <div id="conditionsText"></div>
                        <div class="regulartext black">Track Conditions</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="rvRightHalf">

            <div id="raceViewWidget" location="raceViewWidget"></div>

            <div class="team" id="team0">
                <span class="position">01</span> <img src="../images/teams/esb.png" alt=""/>
                <span class="teamname">ESB-Mercedes</span> <span class="driver">Jean Felipe Hamilton</span>
                <span class="engine">Mercedes</span>
            </div>

            <div class="team" id="team1">
                <span class="position">02</span> <img src="../images/teams/red_bull_Renault.png" alt=""/>
                <span class="teamname">Red Bull Racing</span> <span class="driver">Sebastian Vettel</span>
                <span class="engine">Renault</span>
            </div>

            <div class="team" id="team2">
                <span class="position">03</span> <img src="../images/teams/Scuderia_Ferrari.png" alt=""/>
                <span class="teamname">Scuderia Ferrari</span> <span class="driver">Fernando Alonso</span>
                <span class="engine">Ferrari</span>
            </div>

            <div class="team" id="team3">
                <span class="position">04</span> <img src="../images/teams/McLaren_Mercedes.png" alt=""/>
                <span class="teamname">McLaren-Mercedes</span> <span class="driver">Jenson Button</span>
                <span class="engine">Mercedes</span>
            </div>

            <div class="team brownbg" id="team4">
                <span class="position">05</span> <img src="../images/teams/Lotus-Renault.png" alt=""/>
                <span class="teamname">Lotus-Renault</span> <span class="driver">Kimi Rikknen</span>
                <span class="engine">renault</span>
            </div>

            <div class="team" id="team5">
                <span class="position">06</span> <img src="../images/teams/sauber_Ferrari.png" alt=""/>
                <span class="teamname">Sauber-Ferrari</span> <span class="driver">Kamui Kobayashi</span>
                <span class="engine">Ferrari</span>
            </div>

            <div class="team" id="team6">
                <span class="position">07</span> <img src="../images/teams/Force_India_Mercedes.png" alt=""/>
                <span class="teamname">Force India</span> <span class="driver">Paul di Resta</span>
                <span class="engine">Mercedes</span>
            </div>

            <div class="team" id="team7">
                <span class="position">08</span> <img src="../images/teams/Williams_Renault.png" alt=""/>
                <span class="teamname">Williams-Renault</span> <span class="driver">Pastor Maldonado</span>
                <span class="engine">Renault</span>
            </div>

            <div class="team" id="team8">
                <span class="position">09</span> <img src="../images/teams/STR-Ferrari.png" alt=""/>
                <span class="teamname">STR-Ferrari</span> <span class="driver">Daniel Ricciardo</span>
                <span class="engine">ferrari</span>
            </div>

            <div class="team blackbg" id="team9">
                <span class="position">10</span> <img src="../images/teams/Marussia_Cosworth.png" alt=""/>
                <span class="teamname">Marussia-Cosworth</span> <span class="driver">Timo Glock</span>
                <span class="engine">cosworth</span>
            </div>

            <div class="team greenbg" id="team10">
                <span class="position">11</span> <img src="../images/teams/Caterham_Renault.png" alt=""/>
                <span class="teamname">Caterham-Renault</span> <span class="driver">Heikki Kovalainen</span>
                <span class="engine">Renault</span>
            </div>

            <div class="team" id="team11">
                <span class="position">12</span> <img src="../images/teams/HRT_Cosworth.png" alt=""/>
                <span class="teamname">HRT-Cosworth</span> <span class="driver">Pedro de la Rosa</span>
                <span class="engine">Cosworth</span>
            </div>

            <div class="regulartext white" id="startingPositionsText"></div>

        </div>
        <div id="rvSpeedSliderLabel" location="speedSliderLabel"></div>
        <div id="rvSpeedSlider" location="speedSlider"></div>
        <div id="rvFinishedButton" location="button"></div>
        <div id="rvStartButton" location="startButton"></div>
    </div>

</div>
