<div id="raceResultsWrapper">
    <div class="resultsColumn">
        <div id="resultsText" class="regulartext white" location="resultsText"></div>
        <div id="raceResults" class="resultsTable" location="raceResults"></div>
    </div>

    <div class="resultsColumn">
        <div id="overallStandingsText" class="float regulartext white">Overall Standings </div>
        <span id="asOf" class="smalltext white" location="asOf"></span>

        <div id="overallResults" class="resultsTable" location="overallResults"></div>
    </div>
</div>

