<header class="jumbotron subhead">
    <div class="container">
        <h1>Admin Login</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span3 offset1">
            <div class="page-header">
                <h1>Login</h1>
            </div>
            <div class="form-horizontal">
                <div class="control-group">
                    <div class="control-label">Id</div>
                    <div class="controls" location="username"></div>
                </div>
                <div class="control-group">
                    <div class="control-label">Password</div>
                    <div class="controls" location="password"></div>
                </div>
                <div class="control-group">
                    <div class="c-inline controls" location="signUpDB"></div>
                    <div class="c-inline controls" location="expServer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
