/*
body {
    margin      : 0px;
    padding     : 10px;
    font-family : Arial, sans;
    font-size   : 90%;
}
*/
/* line 10, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.restable {
  font-family: Arial, sans;
  font-size: 100%;
  border-right: 1px solid grey;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 18, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.subtable {
  vertical-align: top;
}

/* line 22, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#graph {
  position: absolute;
  top: 250px;
  width: 760px;
  height: 134px;
  margin: 8px;
  padding: 0px;
}

/* line 31, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#graph ul {
  position: absolute;
  left: 35px;
  display: block;
  width: 567px;
  height: 120px;
  background-color: transparent;
  border-left: 1px solid grey;
  margin: 0px;
}

/* line 42, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#graph li {
  display: block;
  display: inline-block;
  list-style: none;
  position: absolute;
  width: 25px;
  text-align: center;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 0pt;
}

/* line 56, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#graph_finalresults {
  position: relative;
  width: 400px;
  height: 100px;
  margin: 8px;
  padding: 0px;
}

/* line 64, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#graph_finalresults ul {
  position: absolute;
  left: 30px;
  display: block;
  width: 380px;
  height: 50px;
  background-color: transparent;
  border-left: 1px solid grey;
  margin: 0px;
}

/* line 75, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#graph_finalresults li {
  display: block;
  display: inline-block;
  list-style: none;
  position: absolute;
  width: 5px;
  text-align: center;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 0pt;
}

/* line 89, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.top-left-corner {
  top: 0px;
  left: 0px;
  color: #F9F9F9;
}

/* line 95, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.bottom-left-corner {
  bottom: 0px;
  left: 0px;
  color: #F9F9F9;
}

/* line 101, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.top-right-corner {
  top: 0px;
  right: 0px;
  color: #F9F9F9;
}

/* line 107, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.bottom-right-corner {
  bottom: 0px;
  right: 0px;
  color: #F9F9F9;
}

/* line 113, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.top-left-inside {
  left: -2px;
  top: -15px;
}

/* line 118, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.bottom-left-inside {
  left: -2px;
  top: -19px;
}

/* line 123, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.top-right-inside {
  left: -6px;
  top: -15px;
}

/* line 128, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.bottom-right-inside {
  left: -6px;
  top: -19px;
}

/* line 133, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.box-contents {
  position: relative;
  padding: 8px;
  color: #000;
}

/* line 139, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
span.red {
  color: red;
}

/* line 143, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
span.green {
  color: green;
}

/* line 147, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
span.black {
  color: #000;
}

/* line 151, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.top-left-corner, div.bottom-left-corner, div.top-right-corner, div.bottom-right-corner {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #FFF;
  overflow: hidden;
}

/* line 159, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div.top-left-inside, div.bottom-left-inside, div.top-right-inside, div.bottom-right-inside {
  position: relative;
  font-size: 40px;
  font-family: arial;
  color: F9F9F9;
  line-height: 40px;
}

/* line 167, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infotitle {
  display: inline-block;
  position: absolute;
  left: 32em;
  top: 1.3em;
  width: 100px;
}

/* line 175, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.instructionstitle {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  left: 615px;
  top: 55px;
  border: 1px solid darkgray;
  padding: 4px;
}

/* line 185, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
#instructionsIcon {
  position: relative;
  top: 4px;
  left: -4px;
  background-image: url("images/slider/info_icon2.png");
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* line 195, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.smallmessage_title {
  display: inline-block;
  position: absolute;
  left: 18.1em;
  top: 12.1em;
}

/* line 202, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infoyouget, .infoyougetval {
  display: inline-block;
  position: absolute;
  left: 405px;
  top: 197px;
  font-size: 120%;
  width: 180px;
}

/* line 211, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infoyougetval {
  display: inline-block;
  left: 575px;
  width: 100px;
  font-size: 120%;
}

/* line 218, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infoothergets, .infoothergetsval {
  display: inline-block;
  position: absolute;
  left: 405px;
  top: 247px;
  width: 165px;
  font-size: 120%;
}

/* line 227, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infoothergetsval {
  display: inline-block;
  left: 575px;
  width: 100px;
  font-size: 120%;
  width: 180px;
}

/* line 235, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infostage, .infostageval {
  display: inline-block;
  position: absolute;
  left: 32em;
  top: 2.8em;
}

/* line 242, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.infostageval {
  display: inline-block;
  left: 38em;
  width: 100px;
}

/* line 248, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.info_smallmessage {
  display: inline-block;
  position: absolute;
  left: 22.5em;
  top: 3em;
  width: 20em;
}

/* line 256, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.taskbox {
  display: block;
  position: absolute;
  left: 525px;
  top: 15px;
  width: 180px;
  height: 55px;
  border: 2px solid darkgray;
}

/* line 266, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.stagebox {
  display: inline-block;
  position: absolute;
  left: 355px;
  top: 165px;
  width: 300px;
  height: 145px;
  border: 2px solid darkgray;
}

/* line 276, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.youget_title {
  display: inline-block;
  position: absolute;
  left: 290px;
  top: 429px;
}

/* line 283, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.othergets_title {
  display: inline-block;
  position: absolute;
  left: 290px;
  top: 473px;
}

/* line 290, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.min_youget, .max_youget, .min_othergets, .max_othergets {
  display: inline-block;
  position: absolute;
  color: #808080;
}

/* line 296, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.min_youget {
  left: 403px;
  top: 430px;
}

/* line 301, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.max_youget {
  left: 403px;
  top: 473px;
}

/* line 306, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.min_othergets {
  left: 903px;
  top: 430px;
}

/* line 311, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
.max_othergets {
  left: 903px;
  top: 473px;
}

/* line 316, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#infobox {
  display: inline;
  width: 400px;
  height: 100px;
  padding: 20px;
  margin: 0;
  color: #000;
  position: absolute;
  left: 50px;
  top: 85px;
  font-size: 120%;
}

/* line 329, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#infomessage {
  width: 500px;
  height: auto;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  margin: 0;
  background: #F9F9F9;
  color: #000;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  font-size: 120%;
  border: 2px solid black;
}

/* line 346, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#copyright {
  position: absolute;
  bottom: 5px;
  left: 17px;
}

/* line 352, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#gobutton, div#continuebutton {
  position: absolute;
  display: table-cell;
  border: 1px solid grey;
  background: white;
  text-align: center;
}

/* line 360, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#gobutton {
  padding-top: 10px;
  padding-bottom: 10px;
  left: 580px;
  top: 505px;
  width: 150px;
}

/* line 368, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#continuebutton {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  width: 500px;
}

/* line 375, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#masterdiv {
  float: right;
}

/* line 379, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#visualaid {
  position: absolute;
  top: 250px;
  left: 725px;
  width: 185px;
  height: 145px;
  background-color: white;
  border: 2px solid darkgray;
}

/* line 389, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#youget_bar {
  position: absolute;
  top: 32px;
  left: 29px;
  width: 0px;
  height: 20px;
  background-color: #006699;
  border-left: 1px solid #F2F2F2;
}

/* line 399, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#othergets_bar {
  position: absolute;
  top: 82px;
  left: 29px;
  width: 0px;
  height: 20px;
  background-color: #006699;
  border-left: 1px solid #F2F2F2;
}

/* line 409, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#enc_box {
  position: absolute;
  top: 200px;
  left: 220px;
  border: 2px solid black;
  width: 850px;
  height: 380px;
}

/* line 418, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#scale_min {
  position: absolute;
  color: #808080;
  left: 26px;
  top: 59px;
}

/* line 425, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#scale_max {
  position: absolute;
  color: #808080;
  left: 118px;
  top: 59px;
}

/* line 432, ../../../../../../../scss/VAADIN/themes/survey/svoSlider.scss */
div#scale_line {
  position: absolute;
  top: 66px;
  left: 36px;
  width: 81px;
  height: 2px;
  background-color: #F2F2F2;
}
